{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} Your shopping cart {% endblock %}

{% block content %}
<div class="container vh-100">
    <h2 class="d-flex m-1 p-1  fw-bold text-light justify-content-end">Your shopping cart</h2>

    {% if warning_message %}
    <div class="col col-12  d-flex justify-content-center m-2 p-2 rounded bg-danger text-light text-center">
        {% if warning_message == 'money' %}
        <h3>{% trans 'not enough money to byu' %}</h3>
        {% endif %}
        {% endif %}

        {% if cart %}
        <div class="d-flex justify-content-evenly ">
            <table class="bg-light rounded w-100" cellspacing="10">
                <thead>
                <tr class="fs-5 text-center">
                    <th class="p-4">Image</th>
                    <th class="p-4">Product</th>
                    <th class="p-4">Quantity</th>
                    <th class="p-4">4</th>
                    <th class="p-4">Remove</th>
                    <th class="p-4">Unit price</th>
                    <th class="p-4">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                <tr class="fs-5 text-center">
                    <td>
                        <img class="m-3 shadow" src="{% if item.product.image %} {{ item.product.image.url }}
            {% else %}{% static 'img/default_item.jpg' %}{% endif %}"
                             width="80" height="80">
                    </td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>


                    <td>
                        <form id="form_1"class="form-control" action="{% url 'app_cart:update' item.product.id %}" method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" class="btn btn-sm" value="Обновить">
                            {% csrf_token %}
                        </form>
                    </td>

                    <td><a class="btn btn-danger" href="{% url 'app_cart:cart_remove' item.product.id %}">Remove</a>
                    </td>
                    <td class="num">${{ item.product.get_current_price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"></td>
                    <td class="fs-3 fw-bold">Total</td>
                    <td class="fs-3 fw-bold">{{ cart.get_total_price }} $</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end m-3">
            <a href="{% url 'app_shop:main' %}" class="btn btn-warning btn-lg w-25 mx-2">Continue shopping</a>

            <!-- ADD link to def buy():    -->
            <a href="{% url 'app_order:order_create' %}" class="btn btn-success btn-lg w-25 mx-2">Checkout</a>
            <!---->
        </div>
        {% else %}
        <div class="text-center m-3 text-light fs-2">Oops, not yet anything ...</div>
        {% endif %}
    </div>
</div>
{% endblock %}